.logo_header {
    width: 98px;
    height: 63.32px;
    flex-shrink: 0;
}

#home_title {
    color: var(--text, #10153E);
    text-align: center;
    font-family: "Roboto Condensed";
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 94.34px;
    margin-bottom: 10px;
}

.title_text {
    color: #10153E; text-align: center; font-size: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    line-height: normal; margin-bottom: 213px;
}

.home_growth {
    color: var(--text, #10153E);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.growth_text {
    color: var(--text, #10153E);
text-align: center;
font-family: Roboto;
font-size: 19.959px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 220.384px;
margin: auto;
margin-top: 21px;
margin-bottom: 31px;
height: 48px;
}

.product_1 {
    width: 93px;
    height: 93px;
}

.product_2 {
    width:115px;
    height: 86px;
}
.product_logo {
    width: 246px;
    height: 166px;
}

.product_content {
    color: var(--text, #10153E);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_logo {
    width: 25%; 
    text-align: center;
}

.logo_footer {
    width: 204.946px;
    height: 176px;
}

.footer_list {
    width: 25%; 
    text-align: left;
    border-right: 0.5px solid var(--Color, #51E1FF);
    border-left: 0.5px solid var(--Color, #51E1FF);
}

.footer_location {
    width: 50%; 
    text-align: left;
    padding-left: 87px;
}

.footer_link {
color: #FFF;
font-family: Roboto;
font-size: 20.735px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 35px;
margin-bottom: 35px;
}

/* .vn_office {
    width: 507px;
} */

@media (max-width: 768px) {
    .logo_header {
        width: 39.2px;
        height: 25.329px;
        flex-shrink: 0;
        margin-top: 8.14px;
        margin-bottom: 8.14px;
    }
    
    #home_title {
        font-size: 31.962px;
        margin-top: 86.4px;
    }

    .title_text { 
        color: #10153E; 
        text-align: center; 
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        margin-bottom: 213px;
        margin-left: auto;
        margin-right: auto;
    }

    .home_growth {
        color: var(--text, #10153E);
text-align: center;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }

    .product_content {
        color: var(--text, #10153E);
                  text-align: center;
                  font-family: Roboto;
                  font-size: 9.6px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
    }

    .product_1 {
        width: 68.373px;
        height: 69.728px;
    }
    
    .product_2 {
        width: 76.685px;
        height: 57.305px;
    }
    .product_logo {
        width: 243.638px;
        height: 157.421px;
    }

    .logo_footer {
        width: 81.978px;
height: 70.401px;
    }

    .footer_logo {
        width: 100%;
    }

    .information-footer {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .logo_header {
        width: 54.229px;
        height: 35.038px;
        flex-shrink: 0;
        margin-top: 8.14px;
        margin-bottom: 8.14px;
    }

    #home_title {
        width: 317.625px;
        height: 186.48px;
        flex-shrink: 0;
        font-size: 47px;
        margin-top: 44.82px;
        margin-left: auto;
        margin-right: auto;
    }

   .title_text { 
    color: #10153E; 
    text-align: center;
    width: 302.131px;
    font-size: 17.707px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 213px;
   }

   .home_growth {
    color: var(--text, #10153E);
    text-align: center;
    font-family: Roboto;
    font-size: 27.668px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }

   .product_content {
                color: var(--text, #10153E);
              text-align: center;
              font-family: Roboto;
              font-size: 9.6px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
    }

    .product_logo {
    width: 134.818px!important;
    height: 87.109px!important;
    }

    .logo_footer {
        width: 165.453px;
        height: 148.614px;
    }

    .information-footer {
        text-align: center;
    }
}